<div class="flex w-full min-h-dvh">
    {{> filemanager/upload}}
    <div class="divider divider-horizontal"></div>
    <div class="flex-1 flex flex-col gap-4">
        {{> filemanager/fsNav subDirs=subDirs}}
        {{> filemanager/dirs/dirs dirs=dirs}}
        {{> filemanager/files/files files=files}}
    </div>
</div>