<div class="flex w-full min-h-dvh">
    {{> image/settings fileLink=fileLink}}
    <div class="divider divider-horizontal"></div>
    <div class="flex-1 flex flex-col">
        <div class="flex justify-between items-center">
            {{> utils/fileLink fileLink=fileLink}}
            <p>[{{imageSize.width}}x{{imageSize.height}}]</p>
            {{> utils/returnBtn parentLink=parentLink}}
        </div>
        <div class="divider divider-vertical"></div>
        <div class="flex-1 flex">
            <div id="panel" style="width: 0px;" class="flex justify-between duration-300 overflow-hidden">
                <div>
                    {{#each filters}}
                        {{> image/filterBtn filter=this fileLink=fileLink}}
                    {{/each}}
                </div>
                <div class="divider divider-horizontal"></div>
            </div>
            <div class="grid place-items-center">
                <img src={{fileLink}} alt={{fileLink}} class="aspect-square h-1/2" id="image" />
            </div>
        </div>
    </div>
</div>

<script>
    function toggleFilters() {
        const panel = document.querySelector('#panel');
        const currWidth = panel.style.width;
        panel.style.width = currWidth === '0px' ? '16rem' : '0px';
    }
    
    function changeFilter(filter) {
        const image = document.querySelector('#image');

        if (filter === 'none') {
            image.style.filter = 'none';
        } else {
            image.style.filter = `${filter}(100%)`;
        }
    }
</script>
