<div class="flex w-full min-h-dvh justify-center items-center">
    <div class="space-y-4 w-96">
        <h2 class="text-center text-4xl">Login page</h2>
        <form method="POST" action="/login" class="space-y-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="icon">person</span>
                <input type="text" class="grow" placeholder="Username" name="username" />
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <span class="icon">key</span>
                <input type="password" class="grow" placeholder="Password" name="password" />
            </label>
            <button type="submit" class="btn btn-primary w-full">Login</button>
        </form>
        <a href="/register" class="link link-hover w-full text-center block">Go to register page</a>
    </div>
</div>
