<div class="flex w-full min-h-dvh justify-center items-center">
    <div class="space-y-4 w-96">
        <h2 class="text-center text-4xl">Logout page</h2>
        <form method="POST" action="/logout" class="space-y-4">
            <button type="submit" class="btn btn-primary w-full">Logout</button>
        </form>
    </div>
</div>
